.bg-login{

    height: 100vh;
    background-color: #304651;
    padding-left: 8%;
}

.bg-img{
    background-image: url('/static/img/logo_login.png');
    height: 100vh;
    background-size: cover;
    color: #14e9e9
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.box-form{
    width: 60%;    
    margin: auto;
    padding: 80px;
    margin-top: 20%;
    border-radius: 20px;
    height: 65vh;
    color: white    
}

.link{
    color: white;
    text-decoration: none;
}

.btn-principal{
    background-color: transparent;
    color: white;
    padding: 15px;    
    font-weight: bold;
    border: none;    
    font-size: 30px; 
    float:right     
}
