{% extends 'monitoramento/base_monitoramento.html' %}
{% load static %}

{% block 'head' %}

    {% block 'importacoes' %}
    <link href="{% static 'css/monitoramento.css' %}" rel="stylesheet">
    {% endblock %}
    
{% endblock %}

{% block 'conteudo' %}
      
        {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

<div class="container">
    <br>
    <div class="text-center">
        <h3>Produtos Cadastrados</h3>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <form action="{% url 'produtos_cadastrados' %}" method="GET">            
            <input type="text" placeholder="Digite a código para filtrar..." class="form-control" name="filtro_produto">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md">      
            <input type="submit" class="btn-principal" value="Filtrar">
            </form>
        </div>
    </div>
    <br>


    <table>
        <tr>
            <th>Código Produto</th>
            <th>Produto</th>
            <th>Tempo do produto em segundos</th>            
        </tr>
        {% for cadastro in cadastros %}
        <tr>            
            <td>{{ cadastro.codigo_produto }}</td>
            <td>{{ cadastro.produto }}</td>
            <td>{{ cadastro.tempo_produto }}</td>
            <td>
                <a href="{% url 'editar_produto' cadastro.id %}"><button type="button" class="btn btn-primary" name="editar">
                    Editar
                </button>
                <a href="{% url 'delete' cadastro.id %}"><button type="button" class="btn btn-danger" name="deletar">
                    Deletar
                </button>
            </td>                
           
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhuma produto encontrado</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}